@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dosis');

body{
	font-family: 'Roboto', sans-serif;
}

h1{
	font-family: 'Dosis', sans-serif;
}

.stepPage {
	position: absolute;
	display: none;
}

#step0{
	background-color: rgb(250,250,250);
}

#step1{
	background-color: rgb(240,240,240);
}

#step2{
	background-color: rgb(230,230,230);
}

#step3{
	background-color: rgb(220,220,220);
}

#step4{
	background-color: rgb(210,210,210);
}

.breadcrumb > li > a{
	color: #CCC;
}

.breadcrumb > .open > a{
	color: #88BCED;;
}

.breadcrumb > .active > a{
	color: #2b3f71;
	background-color: #FFF;
}